<!DOCTYPE html>
<!--
  Author: Sivaraman C & Kishore B
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/Header :: style_sheets">
	<link href="assets/img/favicon1.png" rel="icon" type="image/x-icon" />
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed"  id="errorMsg">
	<header class="main-header" th:include="layouts/Header :: header"></header>
	<div class="top-info" style="color: rgb(0, 0, 0); font-family: times new roman; font-weight: bold; text-align: left; float: left; width: 100%; background-color: rgb(221, 221, 221); padding: 11px 0px; font-size: 16px;">
		<div class="container">		
			<span th:text="${studentDetails}"></span>				  
			<span id="servertime" style="float: right;">							
				<script th:inline="javascript">
				/*<![CDATA[*/			
					setInterval("displaytime()", 1000);
				/*]]>*/
				</script>
			</span>					
			<input type="hidden" id="currentDateTime" name="currentDateTime" th:value="${CurrentDateTime}" />
		</div>
	</div>
	
	<div class="row full-main-sec" style="background-color: rgb(255, 255, 255); border-bottom: 10px solid rgb(221, 221, 221); border-top: 5px solid rgb(221, 221, 221);">		
		<div class="container">		
			<div class="col-4 left-info" style="width: 30%;">
			<br/>
				<div id="NotesRow">
					<span style="font-weight: bold; color: red;">Note :</span>
					<p style="color: blue; font-weight: bold; font-style: oblique; text-align: justify;">This part will enable after selecting the Course Registration Option given below.</p>				
				</div>
				<div style="display: none; width: 100%;" id="showFlag">					
						<div id="searchRow1">
							<label class="col-sm-3 control-label left-col" style="text-align: left;">Search by :</label>
							<div class="right-col">
								<select id="searchOption" name="searchOption" onchange="searchOptionChange(2);" 
								style="padding: 5px 10px;border: 1px solid #ddd;width:86%;">
									<option value="1">Course Code</option>
								</select>
								</div>
							</div>
				</div>
				
				<div id="searchRow3" style="display: none;float:left;text-align:center;width:100%;">
					
					<div class="right-col"  style="width:100%;">
					<label class="col-sm-3 control-label left-col" style="text-align: left; padding: 10px;">Code : </label>
					
						<input style="width: 70%; max-width:100%;float: right; padding: 5px; margin-top: 10px;" 
					  	type="text" placeholder="Enter the Course Code" id="searchValue" name="searchValue"/>	
					 </div>	
					 <div style="width:100%;float:left;"> 
						<button type="button" id="findBtn" name="findBtn" 
						onclick="findBtnSearchValue();" class="w3-btn w3-btn-blue w3-round-large findbtn">Find</button>	
					 </div>				
				</div>
			</div>
			
			<div class="col-4 main-info" style="min-height:180px; border-right: 10px solid rgb(221, 221, 221); 
						border-left: 10px solid rgb(221, 221, 221);padding:20px;width: 40%;">
				<div style="float: none; margin: auto;" class="main-info-inside">
					<ul class="listing" style="size: 10px;">
						<li><i class="fa fa-home" aria-hidden="true" style="color:green;"></i>
						<button onclick="viewRegOption();" class="link" style="font-weight: bold;">Home</button></li>
						<li><i class="fa fa-book" aria-hidden="true" style="color:rgb(224,92,38);"></i>
						<button onclick="viewRegistered();" class="link" style="font-weight: bold;">View Registered Course(s)</button></li>
						<li><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:rgb(220,123,36);"></i>
						<button onclick="deleteCourse();" class="link" style="font-weight: bold;">Delete Registered Course(s)</button></li>
						<li><i class="fa fa-area-chart" style="color:black;"></i>
						<button onclick="curriculumCredits();" class="link" style="font-weight: bold;">Curriculum Credits View </button></li>												
					</ul>
				</div>
			</div>
			
			<div class="col-4 right-info" style="padding:10px;width: 30%;">
				<div class="col-sm-12 form-group" >
					<div th:fragment="creditsFragment" id="creditsFragment">
						<table style="border: 8px solid; width: 100%; border-color: rgb(221, 221, 221);">
							<tr >
								<td style="width: 30%; border-color: rgb(221, 221, 221); color:black; text-align: center;
										background: #000428;  /* fallback for old browsers */
										background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
										background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
										color:white;">
									
								</td>
								<td style="width: 20%;
										background: #000428;  /* fallback for old browsers */
										background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
										background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
										color:white;">
									Credits
								</td>
								<td style="width: 20%;
										background: #000428;  /* fallback for old browsers */
										background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
										background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
										color:white; ">
									Courses
								</td>
							</tr>
							
							<tr>
								<td style="background: #000428;  /* fallback for old browsers */
										background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
										background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
										color:white; ">Maximum</td>
								<td style="text-align: center; font-weight: bold;"
									th:text="${(maxCredit == null) ? '0' : maxCredit}"></td>
								<td style="text-align: center; font-weight: bold;"> - </td>
							</tr>
							<tr>
								<td style="background: #000428;  /* fallback for old browsers */
										background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
										background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
										color:white; ">Registered</td>
								<td style="text-align: center; font-weight: bold;" 
									th:text="${(regCredit == null) ? '0' : regCredit}"></td>
								<td style="text-align: center; font-weight: bold;" 
									th:text="${(regCount == null) ? '0' : regCount}"></td>
							</tr>
						</table> 
					</div>
					<br/>
					<button type="button" onclick="location.href='processLogout'" class="btn-warning w3-btn w3-btn-red w3-round-large" style="font-weight: bold;">Sign out</button>
				</div>
			</div>
		</div>
		
	</div>

	<div class="content-wrapper" id="page-wrapper">
		<div class="container">
			<section class="content">			
			
			</section>
		</div>
		
	</div>

	<footer class="main-footer" th:include="layouts/Footer::footer"></footer>

	<script th:inline="javascript">
	/*<![CDATA[*/			
			
		viewRegOption();
		
		var logoutMsg = [[${logoutMsg}]];				
		
		if ((logoutMsg != null) && (logoutMsg != ""))
		{
			swal({
		    	title: logoutMsg,
		    	type : 'info',
		    	confirmButtonColor: '#3085d6'
			},
			
			function(button) 
			{			
			    if (button == true) 
			    {
			    	window.setTimeout(function ()
			    	{
			    		
			    	}, 0);		    			    	
			    }
			});
		}

		$(function() 
		{
			$('#searchValue').keyup(function() 
			{
				$(this).val($(this).val().toUpperCase());
			});
		});		
		
		function viewRegOption() 
		{			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "viewRegistrationOption",
				type : "POST",
				cache : false,
				processData : false,
				contentType : false,													
				success : function(response) 
				{				
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					if (showFlag==0)
					{						
						document.getElementById("showFlag").style.display="none";
						document.getElementById("searchRow3").style.display="none";
						document.getElementById("NotesRow").style.display="";
					}
					
					viewCredits();				
				}
			});
		}
		
		function viewSearchRegistrationOption(regOption,subCourseOpt) 
		{	
			var params = "registrationOption="+ regOption +"&pageSize=5&page=1&subCourseOption="+ 
							subCourseOpt +"&flag=0";
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processRegistrationOption",
				type : "POST",
				data : params,
				success : function(response) 
				{				
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					if (showFlag > 0)
					{								
						document.getElementById("showFlag").style.display="";
						document.getElementById("NotesRow").style.display="none";
						document.getElementById("searchOption").selectedIndex = 0;								
						searchOptionChange(2);
					}
					
					viewCredits();
				}
			});
		}

		function viewRegistrationOption() 
		{
			var subCourseOpt = "";
			var chkFlag = 0;
			var regOption = $('input[name=registrationOption]:checked').val();
			
			if ($('input[name=registrationOption]:checked').length <= 0) 
			{				
				swal({
			    	title: "Choose Any One Option",			    	
			    	confirmButtonColor: '#3085d6'
				},
				
				function(button) 
				{			
				    if (button == true) 
				    {
				    	window.setTimeout(function ()
				    	{
				    		
				    	}, 0);		    			    	
				    }
				});
				
				return false;
			}
			else
			{
				chkFlag = 1;	
			}
			
			if (chkFlag == 1)
			{
				var params = "registrationOption="+ regOption +"&pageSize=5&page=1&subCourseOption="+ 
								subCourseOpt +"&flag=0";
				
				$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
				
				$.ajax({
					url : "processRegistrationOption",
					type : "POST",
					data : params,
					success : function(response) 
					{				
						$('#page-wrapper').html(response);
						$.unblockUI();
						
						if (showFlag > 0)
						{								
							document.getElementById("showFlag").style.display="";
							document.getElementById("NotesRow").style.display="none";
							document.getElementById("searchOption").selectedIndex = 0;								
							searchOptionChange(2);
						}
						
						viewCredits();
					}
				});
			}
		}

		function searchOptionChange(val) 
		{				
			if (val == 1) 
			{				
				document.getElementById("searchRow3").style.display="none";
				/* document.getElementById("searchSchoolWise").disabled = false; */
			}
			
			else if (val == 2)
			{
				document.getElementById("searchRow3").style.display="";				
				document.getElementById("searchValue").value = "";
				/*document.getElementById("searchValue").placeholder = pHolderCode;
				document.getElementById("searchSchoolWise").disabled = true; */
			}
			else if (val == 3)
			{
				/* document.getElementById("searchSchoolWise").disabled = true; 
				document.getElementById("searchValue").placeholder = pHolderTitle;*/
				document.getElementById("searchRow3").style.display="";				
				document.getElementById("searchValue").value = "";
			}					
		}

		/* function searchSchoolWiseChange() 
		{
			var searchOpt = $('#searchOption :selected').val();
			var searchSchoolOpt = $('#searchSchoolWise :selected').val();
			var dataParameter = "pageSize=5&page=1&searchType=" + searchOpt + "&searchVal=" + searchSchoolOpt;
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processSearch",
				type : "POST",
				data : dataParameter,												
				success : function(response) 
				{				
					$('#page-wrapper').html(response);
					$.unblockUI();
					viewCredits();
				}
			});
		} */

		function findBtnSearchValue() 
		{
			var searchOpt = $('#searchOption :selected').val();
			var searchVal = $('#searchValue').val();
			var dataParameter = "&pageSize=5&page=1&searchType=" + searchOpt + "&searchVal=" + searchVal;
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});

			$.ajax({
				url : "processSearch",
				type : "POST",
				data : dataParameter,
				
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					viewCredits();
				}
			});
		}		

		function viewRegistered() 
		{			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "viewRegistered",
				type : "POST",
				
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					if (showFlag==0)
					{						
						document.getElementById("showFlag").style.display="none";
						document.getElementById("searchRow3").style.display="none";
						document.getElementById("NotesRow").style.display="";
					}
					viewCredits();
				}
			});
		}

		function deleteCourse() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "deleteRegisteredCourse",
				type : "POST",
				cache : false,
				processData : false,
				contentType : false,
													
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					if (showFlag==0)
					{						
						document.getElementById("showFlag").style.display="none";
						document.getElementById("searchRow3").style.display="none";
						document.getElementById("NotesRow").style.display="";
					}
					viewCredits();
				}
			});
		}
		
		function curriculumCredits() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "viewCurriculumCredits",
				type : "POST",
				cache : false,
				processData : false,
				contentType : false,
													
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					if (showFlag==0)
					{						
						document.getElementById("showFlag").style.display="none";
						document.getElementById("searchRow3").style.display="none";
						document.getElementById("NotesRow").style.display="";
					}
					viewCredits();
				}
			});
		}
		
		function callCourseRegistration(courseId, page, searchType, searchVal) 
		{
			page = $("#pageNo").val();
			var dataParameter = "courseId="+ courseId +"&page="+ page +"&searchType="+ 
									searchType +"&searchVal=" + searchVal;
				
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processCourseRegistration",
				type : "POST",
				data : dataParameter,
				success : function(response) 
				{		
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}
		
		function getResults(pageSize, page, searchType, searchVal) 
		{
			if (page) 
			{
				params = "pageSize=" + pageSize + "&page=" + page + "&searchType=" + searchType + "&searchVal=" + searchVal + "&flag=1";
			} 
			else 
			{
				params = "pageSize=" + pageSize + "&searchType=" + searchType + "&searchVal=" + searchVal + "&flag=1";
			}
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
		
			$.ajax({
				url : "processRegistrationOption",
				type : "POST",
				data : params,
				success : function(response) 
				{	
					$("#cclistfrag").html(response);
					$.unblockUI();
				},
				error : function(jqXHR, textStatus, errorMessage) 
				{
					$.unblockUI();
				}
			});
		}
		
		function callPageOnLoad()
		{
			var pageSize = $("#selectedPageSize").val();
			var page = $("#pageNo").val();
			var searchType = $("#srhType").val();
			var searchVal = $("#srhValue").val();
			var totalPage = $("#totalPage").val();
									
			getResults2(pageSize, page, searchType, searchVal, totalPage);
		}
		
		function getResults2(pageSize, page, searchType, searchVal, totalPage)
		{							
			if (parseInt(page) <= 0)
			{
				page = 1;
			}
			else if (parseInt(page) >= parseInt(totalPage))
			{
				page = totalPage;
			}
			$("#pageNo").val(page);
									
			var halfPagesToShow = pageSize / 2;
			var startPage = 0, endPage = 0;

			if (parseInt(totalPage) <= parseInt(pageSize))
			{
				startPage = 1;
				endPage = totalPage;
			}
			else if ((parseInt(page) - parseInt(halfPagesToShow)) <= 0)
			{
				startPage = 1;
				endPage = pageSize;
			}
			else if ((parseInt(page) + parseInt(halfPagesToShow)) == parseInt(totalPage))
			{
				startPage = parseInt(page) - parseInt(halfPagesToShow);
				endPage = totalPage;
			}
			else if ((parseInt(page) + parseInt(halfPagesToShow)) > parseInt(totalPage))
			{
				startPage = (parseInt(totalPage) - parseInt(pageSize)) + 1;
				endPage = totalPage;
			}
			else
			{
				startPage = parseInt(page) - parseInt(halfPagesToShow);
				endPage = parseInt(page) + parseInt(halfPagesToShow);
			}
			
			for (var i=1; i <= totalPage; i++) 
			{
				if (parseInt(i) == parseInt(page)) 
				{				
					document.getElementById("pageDivId"+i).style.display = "block";
					document.getElementById("pgNoLiId1_"+i).className = "active pointer-disabled";
					document.getElementById("pgNoLiId2_"+i).className = "active pointer-disabled";
				}
				else
				{
					document.getElementById("pageDivId"+i).style.display = "none";
					document.getElementById("pgNoLiId1_"+i).className = "disabled";
					document.getElementById("pgNoLiId2_"+i).className = "disabled";
				}
				
				if ((parseInt(i) >= parseInt(startPage)) && (parseInt(i) <= parseInt(endPage)))
				{
					document.getElementById("pgNoLiId1_"+i).style.display = "block";
					document.getElementById("pgNoLiId2_"+i).style.display = "block";
				}
				else
				{
					document.getElementById("pgNoLiId1_"+i).style.display = "none";
					document.getElementById("pgNoLiId2_"+i).style.display = "none";
				}
			}
		}
		
		function processPageNumbers(pageSize, page, searchType, searchVal, totalPage, processType) 
		{
			if (page) 
			{
				params = "pageSize="+ pageSize +"&page="+ page 
							+"&searchType="+ searchType +"&searchVal="+ searchVal 
							+"&totalPage="+ totalPage +"&processType="+ processType;
			} 
			else 
			{
				params = "pageSize="+ pageSize +"&searchType="+ searchType 
							+"&searchVal="+ searchVal +"&totalPage="+ totalPage 
							+"&processType="+ processType;
			}
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processPageNumbers",
				type : "POST",
				data : params,
			
				success : function(response) 
				{
					if (processType == 1)
					{
						$('#pageNoFrag').html(response);
					}
					else if (processType == 2)
					{
						$('#pageNoFrag2').html(response);
					}
					
					$.unblockUI();
				}
			});
		}

		function call_search(searchType) 
		{
			var dataParameter = "";

			if (parseInt(searchType) == 1) 
			{
				getResults(5,0,searchType,document.CourseCatalogue.code.value);
			} 
			else if (parseInt(searchType) == 2) 
			{
				getResults(5,0,searchType,document.CourseCatalogue.title.value);
			} 
			else 
			{
				getResults(5,0,0,"");
			}
		}

		function scrollToBottom(id) 
		{
			div_height = $("#" + id).height();
			div_offset = $("#" + id).offset().top;
			window_height = $(window).height();
			$('html,body').animate({
				scrollTop : div_offset - window_height + div_height
			}, 'slow');
		} 
		/************COURSE LIST*****************/

		/************COURSE REGISTRATION*****************/
		
		function RegisterProjectCourse(urlPage) 
		{			
			var costCentreId = "";
			var guideEmpId =  "";
			var projectTitle = "";
			var courseCode = $('#courseCodehid').val();
			var courseType = $('#courseTypehid').val();
			var courseId = $('#courseIdhid').val();
			var clashSlot = $('#clashSlot').val();
			var classId = $('#classId').val();
			var slotId = $('#slotId').val();
			var page = $('#page').val();
			var programCode = $('#programCode').val();
			var evaluationType = $('#evaluationType').val();
			var searchVal = $('#searchVal').val();
			var searchType = $('#searchType').val();
			var courseOption = $('#courseOption').val();
			var projectOption = $("input[name='projectOption']:checked").val();
			var subCourseOption = "";
			var projectDuration = 0;
			var vldFlg = 0;
			
			
			if ((evaluationType == 'GUIDE') || (evaluationType == 'CAPSTONE'))
			{
				projectDuration = 6;
			}
							
			if(programCode == 'MTECH')
			{
					projectDuration = 12;
			}		
			
			var vldFlg = 1;
			var vldFlg2 = 1;
			
			if ((evaluationType == 'GUIDE') || (evaluationType == 'CAPSTONE')){
				
				if ($('input[name=projectOption]:checked').length <= 0) 
				{
					vldFlg2 = 2;					
					swal({
				    	title: "Select Project Option",			    	
				    	confirmButtonColor: '#3085d6'
					},
					
					function(button) 
					{			
					    if (button == true) 
					    {
					    	window.setTimeout(function ()
					    	{
					    		
					    	}, 0);		    			    	
					    }					    
					});					
				}else{
					vldFlg2 = 1;
				}
				
				if(projectOption=='RGR' && vldFlg2 == 1)
				{
					costCentreId = $('#guideSchoolWise').val();
					guideEmpId =  $('#guideId').val();
					projectTitle = $('#projectTitle').val();
					
					if ((costCentreId == '') || (costCentreId == '0')){
						vldFlg = 2;					
						swal({
					    	title: "Select School [Cost Centre]",			    	
					    	confirmButtonColor: '#3085d6'
						},
						
						function(button) 
						{			
						    if (button == true) 
						    {
						    	window.setTimeout(function ()
						    	{
						    		
						    	}, 0);		    			    	
						    }					    
						});					
					}
					
					if (vldFlg == 1){
						if ((guideEmpId == '') || (guideEmpId == 'NONE')){
							vldFlg = 2;
							
							swal({
						    	title: "Select Project Guide",			    	
						    	confirmButtonColor: '#3085d6'
							},
							
							function(button) 
							{			
							    if (button == true) 
							    {
							    	window.setTimeout(function ()
							    	{
							    		
							    	}, 0);		    			    	
							    }
							});						
						}
					}
					if (vldFlg == 1){
						if (projectTitle == ''){
							vldFlg = 2;						
							swal({
						    	title: "Enter Project Title",			    	
						    	confirmButtonColor: '#3085d6'
							},
							
							function(button) 
							{			
							    if (button == true) 
							    {
							    	window.setTimeout(function ()
							    	{
							    		
							    	}, 0);		    			    	
							    }
							});						
						}
					}
					
					if ((vldFlg == 1))
					{
						if (document.getElementById("projectDurationOption")!=null)
						{
							if ($('input[name=projectDurationOption]:checked').length <= 0) 
							{				
								vldFlg = 2;
								swal({
								   	title: "Choose Any One Option for Project Duration",			    	
								   	confirmButtonColor: '#3085d6'
								},
									
								function(button) 
								{			
									if (button == true) 
									{
										window.setTimeout(function ()
									    {
									       	
									    }, 0);		    			    	
									}
								});
							}	
						}
						
					}
				}else{
					vldFlg == 1;
				}
				
			}		
			
			
			var dataParameter =	"costCentreId=" +costCentreId + 
			 					"&guideErpId=" + guideEmpId + 
								"&projectTitle=" + projectTitle +
								"&courseCode=" + courseCode +
								"&courseType=" + courseType +
								"&courseId=" + courseId +
								"&projectOption=" + projectOption +
								"&clashSlot=" + clashSlot +
								"&slotId=" + slotId +
								"&page=" + page +
								"&classId=" + classId +
								"&projectDuration=" + projectDuration +
								"&searchType= " + searchType +
								"&searchVal=" +  searchVal +
								"&courseOption=" + courseOption + 
								"&subCourseOption=" + subCourseOption;
						
			if (vldFlg == 1 && vldFlg2 == 1)
			{
				$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
				
				$.ajax({
					url : urlPage,
					type : "POST",
					data : dataParameter,
					
					success : function(response) 
					{
						$('#page-wrapper').html(response);
						$.unblockUI();
						
						viewCredits();
					}
				});
			}
		}
				
		function enablecourseOption()
		{
			var courseOption = document.getElementsByName("CourseOption");
			
			for (var i = 0; i < courseOption.length; i++) 
			{
				if (courseOption[i].checked == true)
				{
					var d = courseOption[i].value;					
					
					if (d == 'MIN')
					{
							document.getElementById("show1").style.visibility = "visible";
							
							if (document.getElementById("show2")!=null)
							{
								document.getElementById("show2").style.visibility = 'hidden';
								document.getElementById("subCourseOption").selectedIndex = 0;
							}
							
							if (document.getElementById("show3")!=null)
							{
								document.getElementById("show3").style.visibility = 'hidden';
								document.getElementById("subCourseOption").selectedIndex = 0;
							} 
																				
					}
					else if (d == 'HON')
					{
						document.getElementById("show2").style.visibility = "visible";
						
						if (document.getElementById("show1")!=null)
						{
							document.getElementById("show1").style.visibility = 'hidden';
							document.getElementById("subCourseOption").selectedIndex = 0;
						}
						
						if (document.getElementById("show3")!=null)
						{
							document.getElementById("show3").style.visibility = 'hidden';
							document.getElementById("subCourseOption").selectedIndex = 0;
						}							
					}
					else if (d == 'CS')
					{
							document.getElementById("show3").style.visibility = "visible";
							if (document.getElementById("show2")!=null)
							{
								document.getElementById("show2").style.visibility = 'hidden';
								document.getElementById("subCourseOption").selectedIndex = 0;
							}
							
							if (document.getElementById("show1")!=null)
							{
								document.getElementById("show1").style.visibility = 'hidden';
								document.getElementById("subCourseOption").selectedIndex = 0;
							}
																			
					}
					else
					{
						if (document.getElementById("show1")!=null)
						{
							document.getElementById("show1").style.visibility = 'hidden';
							document.getElementById("subCourseOption").selectedIndex = 0;
						}
						
						if (document.getElementById("show2")!=null)
						{
							document.getElementById("show2").style.visibility = 'hidden';
							document.getElementById("subCourseOption").selectedIndex = 0;
						}
						
						if (document.getElementById("show3")!=null)
						{
							document.getElementById("show3").style.visibility = 'hidden';
							document.getElementById("subCourseOption").selectedIndex = 0;
						}														
					}
				}
			}			
		}

		function registerCourse(urlPage) 
		{	
			var classId1 = "1";
			var classId2 = "2";
			var classId3 = "3";			
			var courseCode = $("#courseCodehid").val();
			var courseType = $("#courseTypehid").val();
			var courseId = $("#courseIdhid").val();
			var clashSlot = $('#clashSlots1').val() + ",";			
			var chkflg = 1;
			var courseOption = "";
			var subCourseOption = "";
			var subCourseType = "";
			var subCourseDate = "";
			var courseFlg = $('#courseFlag').val();
			var searchVal =  $('#searchVal').val();
			var searchType =$('#searchType').val();
			var epjSlotFlag = $('#epjSlotFlag').val();
			var compName = "";
			
			var clArr = [];			
			$("input[name='courseType']").each(function() 
			{	
				clArr.push($(this).val());	
				
				if ($(this).val() == 'ETH')
				{
					compName = "Embedded Theory";	
				}				
				else if ($(this).val() == 'TH')
				{
					compName = "Theory";	
				}
				else if ($(this).val() == 'EPJ')
				{
					compName = "Embedded Project";	
				}
				else if ($(this).val() == 'ELA')
				{
					compName = "Embedded Lab";	
				}
				else if ($(this).val() == 'LO')
				{
					compName = "Lab";	
				}
				else if ($(this).val() == 'SS')
				{
					compName = "Soft Skill";	
				}
				
				/*if (($(this).val() == 'ETH') || ($(this).val() == 'TH') || ($(this).val() == 'SS') || ($(this).val() == 'LO'))
				{
					
					if (document.getElementById("classnbr1")!=null)
					{					
						if ($('input[name=classnbr1]:checked').length <= 0) 
						{
							chkflg = 0;						
							
							swal({
						    	title: compName + " Component is required",			    	
						    	confirmButtonColor: '#3085d6'
							},
							
							function(button) 
							{			
							    if (button == true) 
							    {
							    	window.setTimeout(function ()
							    	{
							    		
							    	}, 0);		    			    	
							    }
							});
						}
					}
					else
					{
						chkflg = 0;						
						swal({
					    	title: compName + " Component Seat(s) are full. So, you cannot register with this component",			    	
					    	confirmButtonColor: '#3085d6'
						},
						
						function(button) 
						{			
						    if (button == true) 
						    {
						    	window.setTimeout(function ()
						    	{
						    		
						    	}, 0);		    			    	
						    }
						});
					}
				}
				
				
				if ($(this).val() == 'ELA')
				{
					if (chkflg == 1) 
					{						
						if (document.getElementById("classnbr2")!=null)
						{
							if ($('input[name=classnbr2]:checked').length <= 0) 
							{						
								chkflg = 0;
								
								swal({
							    	title: "Select the required " + compName + " Component",			    	
							    	confirmButtonColor: '#3085d6'
								},
								
								function(button) 
								{			
								    if (button == true) 
								    {
								    	window.setTimeout(function ()
								    	{
								    		
								    	}, 0);		    			    	
								    }
								});
							}
						}
						else
						{
							chkflg = 0;
							
							swal({
						    	title: compName + " Component Seat(s) Are Full, Please Select any other slot",			    	
						    	confirmButtonColor: '#3085d6'
							},
							
							function(button) 
							{			
							    if (button == true) 
							    {
							    	window.setTimeout(function ()
							    	{
							    		
							    	}, 0);		    			    	
							    }
							});	
						}
					}
					classId2 = $('input:radio[name=classnbr2]:checked').val();
					clashSlot = clashSlot + $('#clashSlots2').val();					
				}				
				
				 if ($(this).val() == 'EPJ')
				{
					if ((epjSlotFlag==1) && (chkflg == 1)) 
					{	
						if (document.getElementById("classnbr3")!=null)
						{
							if ($('input[name=classnbr3]:checked').length <= 0) 
							{								
								chkflg = 0;
								swal({
							    	title: "Select the required "+ compName + " Component",			    	
							    	confirmButtonColor: '#3085d6'
								},
								
								function(button) 
								{			
								    if (button == true) 
								    {
								    	window.setTimeout(function ()
								    	{
								    		
								    	}, 0);		    			    	
								    }
								});
							}								
						}
						else
						{
							chkflg = 0;
							
							swal({
						    	title: compName + " Component Seat(s) Are Full, Please Select any other slot",			    	
						    	confirmButtonColor: '#3085d6'
							},
							
							function(button) 
							{			
							    if (button == true) 
							    {
							    	window.setTimeout(function ()
							    	{
							    		
							    	}, 0);		    			    	
							    }
							});
						}
						classId3 = $('input:radio[name=classnbr3]:checked').val();
						clashSlot = clashSlot + $('#clashSlots3').val();							
					}
					
					else
					{					
						classId3 = $('#classnbr3').val();						
					}					
				} */
			});
					

			if (courseFlg == 1) 
			{			
				if (chkflg == 1) 
				{					
					if ($('input[name=CourseOption]:checked').length <= 0) 
					{
						chkflg = 0;
						swal({
					    	title: "Select the course option",			    	
					    	confirmButtonColor: '#3085d6'
						},
					
						function(button) 
						{			
						    if (button == true) 
						    {
						    	window.setTimeout(function ()
						    	{
						    		
						    	}, 0);		    			    	
						    }
						});
					} 
					else 
					{						
						
						courseOption =  $('input[name=CourseOption]:checked').val();						
					
						if ((courseOption == 'CS') || (courseOption == 'HON') || (courseOption == 'MIN'))
						{
							var crschkfg = 2;
							var subCourseOption = document.getElementsByName("subCourseOption");
							for (var i = 0; i < subCourseOption.length; i++) 
							{
								if (subCourseOption[i].selectedIndex !=0)
								{
									var crschkfg = 1;
									var d2 = subCourseOption[i].value;							
								}	
							}
							
							if (crschkfg == 2)
							{
								chkflg = 0;
								swal({
							    	title: "Select the Sub Course option",			    	
							    	confirmButtonColor: '#3085d6'
								},
							
								function(button) 
								{			
								    if (button == true) 
								    {
								    	window.setTimeout(function ()
								    	{
								    		
								    	}, 0);		    			    	
								    }
								});
							}
							else
							{
								subCourseOption = d2;								
							}
						}	
					}					
				}
			}
			
			if (courseFlg == 2) 
			{				
				courseOption =  $("#CourseOption").val();
				subCourseOption = $("#subCourseOption").val();				
			}
			
			if (courseFlg == 3) 
			{
				courseOption = $("#CourseOption").val();
				subCourseOption = $("#subCourseOption").val();
				subCourseType = $("#subCourseType").val();
				subCourseDate = $("#subCourseDate").val();
			}
			
						
			var classIdVal = classId1 + "," + classId2 + "," + classId3;					
			var dataParameter = "ClassID=" + classIdVal + 
									"&courseId=" + courseId +
									"&courseType=" + courseType +
									"&courseCode=" + courseCode +
									"&courseOption=" + courseOption	+ 
									"&clashSlot=" + clashSlot +
									"&pageSize=5&page="	+ $('#page').val() + 
									"&subCourseOption=" + subCourseOption + 
									"&subCourseType=" + subCourseType +
									"&subCourseDate=" + subCourseDate +
									"&searchType= " + searchType +
						 			"&searchVal=" +  searchVal +
						 			"&clArr="+ clArr + 
						 			"&epjSlotFlag="+ epjSlotFlag;
						
			if (chkflg == 1) 
			{
				$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
				
				$.ajax({
					url : urlPage,
					type : "POST",
					data : dataParameter,
																	
					success : function(response) 
					{
						$('#page-wrapper').html(response);
						$.unblockUI();
						
						viewCredits();
					}
				});
			} 
		}
		
		function viewCredits() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "ViewCredits",
				type : "POST",
			
				success : function(response) 
				{
					$('#creditsFragment').html(response);
					$.unblockUI();
				}
			});
		}	

		function goBack() 
		{
			var params = "&pageSize=5&page="+ $('#page').val() +"&searchType="+ $('#searchType').val() 
								+"&searchVal="+ $('#searchVal').val() +"&flag=0";			

			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processRegistrationOption",
				type : "POST",
				data : params,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}
			});
		}
		
		function getSchoolWiseGuide() 
		{
			var guideSchoolOpt = $('#guideSchoolWise :selected').val();			
			var dataParameter = "guideSchoolOpt=" + guideSchoolOpt;
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "getSchoolWiseGuideList",
				type : "POST",
				data : dataParameter,													
				success : function(response) 
				{	
					$('#ProjectGuideFragment').html(response);
					$.unblockUI();
					
					viewCredits();
				}
			});
		}		

		/************COURSE REGISTRATION*****************/

		/************DELETE CONFIRMATION*****************/

		function processDeleteOTPCourseRegistration(courseId) 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processDeleteCourseRegistrationOTP",
				type : "POST",
				data : "courseId=" + courseId,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}
		
		function processDeleteConfirmationCourseRegistration(courseId) 
		{
			d = document.DeleteConfirmation;
			var checkFlag = 2;
			
			if ((d.mailOTP.value.length<5) || (d.mailOTP.value.charAt(0)==" ")) 
			{
				d.mailOTP.select();
				d.mailOTP.focus();
				checkFlag = 2;
				swal("Enter E-Mail OTP & it should be 5 charaters.");
			}
			else
			{
				checkFlag = 1;
			}
			
			if (parseInt(checkFlag) == 1)
			{
				var mailOTP = $("#mailOTP").val();
				var param = "courseId=" + courseId +"&mailOTP="+ mailOTP;
			
				$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
				
				$.ajax({
					url : "processDeleteConfirmationCourseRegistration",
					type : "POST",
					data : param,
					success : function(response) 
					{
						$('#page-wrapper').html(response);
						$.unblockUI();
						
						viewCredits();
					}				
				});
			}
		}

		function processDeleteConfirmationCourseRegistrationRirect() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processDeleteConfirmationCourseRegistrationRirect",
				type : "POST",
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}

		/************DELETE CONFIRMATION*****************/

		/************DELETE CONFIRMATION WAITING*****************/
		function processDeleteConfirmationCourseRegistrationWaiting(courseId) 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processDeleteConfirmationCourseRegistrationWaiting",
				type : "POST",
				data : "courseId=" + courseId,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}

		function processDeleteConfirmationCourseRegistrationWaitingRirect() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processDeleteConfirmationCourseRegistrationWaitingRirect",
				type : "POST",
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}

		/************DELETE CONFIRMATION WAITING*****************/

		/************DELETE COURSE*****************/
		function processDeleteCourseRegistration(courseId) 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processDeleteCourseRegistration",
				type : "POST",
				data : "courseId=" + courseId,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}

		function processDeleteCourseRegistrationWaiting(courseId) 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processDeleteCourseRegistrationWaiting",
				type : "POST",
				data : "courseId=" + courseId,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}

		/************DELETE COURSE*****************/

		/************MODIFY EDIT*****************/
		function UpdateSlots(oldClassId) 
		{
			var chkflg = 1;
			var courseOption1 = "";
			
			if ($('input[name=courseOption]:checked').length <= 0) 
			{
				chkflg = 0;				
				swal({
			    	title: "Select the option",			    	
			    	confirmButtonColor: '#3085d6'
				},
			
				function(button) 
				{			
				    if (button == true) 
				    {
				    	window.setTimeout(function ()
				    	{
				    		
				    	}, 0);		    			    	
				    }
				});				
			}
			
			if (parseInt(chkflg) == 1) 
			{
				d = document.ModifySlot;
							
				if ((d.mailOTP.value.length<5) || (d.mailOTP.value.charAt(0)==" ")) 
				{
					d.mailOTP.select();
					d.mailOTP.focus();
					chkflg = 2;
					swal("Enter E-Mail OTP & it should be 5 charaters.");
				}
				else
				{
					chkflg = 1;
				}
			}
						
			if (parseInt(chkflg) == 1) 
			{
				var mailOTP = $("#mailOTP").val();
				var dataParameter = "newCourseDetail="+ $('input:radio[name=courseOption]:checked').val() 
										+"&oldClassId=" + oldClassId +"&mailOTP="+ mailOTP;
				
				$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
				
				$.ajax({
					url : "UpdateRegisteredSlots",
					type : "POST",
					data : dataParameter,
					success : function(response) 
					{
						$('#page-wrapper').html(response);
						$.unblockUI();
						
						viewCredits();
					}
				});
			}
		}

		function goModifyPage() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "modifySlots",
				type : "POST",																
				success : function(response) 
				{					
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}		
		
		function viewFFCStoCal() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processFFCStoCal",
				type : "POST",
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}
			});
		}

		/************MODIFY EDIT*****************/

		/************VIEW SLOTS*****************/
		function ViewSlotsBack() 
		{
			var searchVal =  $('#searchVal').val();
			var searchType =$('#searchType').val();			
			var params = "pageSize=5&page="+ $('#page').val() +"&searchType="+ searchType 
							+"&searchVal="+  searchVal +"&flag=0";
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processRegistrationOption",
				type : "POST",
				data : params,												
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}
			});
		}
		
		function viewCorrespondingCourse(courseId, erpId, genericCourseType, classId, page) 
		{
			var param = "courseId="+ courseId +"&erpId="+ erpId +"&genericCourseType="+ 
							genericCourseType +"&classId="+ classId +"&page="+ page;
			
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "viewCorrespondingCourse",
				type : "POST",
				data : param,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}				
			});
		}
		
		function callViewSlots(courseId, page, searchType, searchVal)
		{
			page = $("#pageNo").val();
			var param = "courseId="+ courseId +"&page="+ page +"&searchType="+ searchType 
								+"&searchVal="+ searchVal;
						
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "processViewSlots",
				type : "POST",
				data : param,
				success : function(response) 
				{		
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}	
				
			});
		}
		
		function modifySlots() 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "modifySlots",
				type : "POST",
				cache : false,
				processData : false,
				contentType : false,													
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}
			});
		}
		
		function editRegisteredSlots(courseId) 
		{
			$.blockUI({message : '<img src="assets/img/482.GIF"> loading... Just a moment...'});
			
			$.ajax({
				url : "editRegisteredSlots",
				type : "POST",
				data : "courseId=" + courseId,
				success : function(response) 
				{
					$('#page-wrapper').html(response);
					$.unblockUI();
					
					viewCredits();
				}
			});
		}
		
		
		var currenttime = $('#currentDateTime').val();// '6/28/2017 6:27:21 PM';
		var montharray = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
		var serverdate = new Date(currenttime);

		function padlength(what)
		{
			var output = (what.toString().length==1)? "0"+what : what;
			return output;
		}

		function displaytime()
		{
			serverdate.setSeconds(serverdate.getSeconds()+1);
			var datestring = padlength(serverdate.getDate()) +"-"+ montharray[serverdate.getMonth()] +"-"+ serverdate.getFullYear();
			var timestring = padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds());
			document.getElementById("servertime").innerHTML = datestring+" "+timestring;
		}


		/************VIEW SLOTS*****************/

		/*]]>*/
	</script>


</body>
</html>