<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <base th:href="@{${session.baseURL}}" /> -->
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" id="page-wrapper">
			<div class="" th:fragment="section">
				<script th:inline="javascript">
				/*<![CDATA[*/
									
					var showFlag = [[${showFlag}]];
			
				/*]]>*/
				</script>

				<div class="margin-homepage">
					<div class="container">
						<div style="text-align: center; text-decoration: underline;">
							<h3>Credit Info</h3>
						</div>
						 <br/>
						 <div th:if="${(not #lists.isEmpty(cclCtgCreditList)) and (studentStudySystem == 'CAL')}" style="padding-left: 75px;">
							<span style="color: red;"><b>NOTE :</b></span><br />
							<span style="color: black; line-height: 25px;">1. <b style="color: green;">Result Published</b> - Excluding Audit and Withdrawn course(s).</span><br/>
							<span style="color: black; line-height: 25px;">2. <b style="color: #ff7500;">Result Unpublished</b> - Excluding Re-registered and Grade Improvement course(s).</span><br/>
							<span style="color: black; line-height: 25px;">3. <b style="color: brown;">Registered </b> - Excluding Re-registered and Grade Improvement course(s).</span><br/>
						</div>
						<br />
						<div align="center" style="color: Red; font-weight: bold;"
							th:if="${(not #lists.isEmpty(cclCtgCreditList)) and (studentStudySystem != 'CAL')}"
							th:text="${'Curriculum not available'}"></div>
						<div class="table-responsive">
						
							<table class="w3-table-all w3-card-4 w3-hoverable"
								style="	background: #000428;  /* fallback for old browsers */
										background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
										background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */"
								th:if="${(not #lists.isEmpty(cclCtgCreditList)) and (studentStudySystem == 'CAL')}">
								
								<thead>
									<tr class="w3-blue">
    									<td rowspan="2" style="vertical-align:middle; white-space:inherit; 
    											border: 1px solid #3c8dbc; width:20%; text-align: center;">CATEGORY</td>
    									<td colspan="5" style="white-space:inherit; border: 1px solid #3c8dbc; 
    											text-align: center;">CREDITS</td>
  									</tr>
  									<tr class="w3-blue">
    									<td style="white-space:inherit; border: 1px solid #3c8dbc; 
    										text-align: center; width:13% ">Required</td>
    									<td style="white-space:inherit; border: 1px solid #3c8dbc; 
    										text-align: center; width:13% ">Result Published</td>
    									<td style="white-space:inherit; border: 1px solid #3c8dbc; 
    										text-align: center; width:13% ">Result Unpublished</td>
    									<td style="white-space:inherit; border: 1px solid #3c8dbc; 
    										text-align: center; width:13% ">Registered</td>
    									<td style="white-space:inherit; border: 1px solid #3c8dbc; 
    										text-align: center; width:13% ">Wish List</td>
    									<td style="white-space:inherit; border: 1px solid #3c8dbc; 
    										text-align: center; width:13% ">Yet to complete</td>
  									</tr>
								</thead>
								
								<tr th:each="RegList, i :${cclCtgCreditList}">
								
									<td style="white-space: nowrap; border: 1px solid #3c8dbc; font-weight: bolder;">
										<span th:text="${RegList[9]}"></span>
									</td>
																		
									<th:block th:if="${(RegList[0] == 'PC') or (RegList[0] == 'PE') 
														or (RegList[0] == 'UC') or (RegList[0] == 'UE')}">
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bold;">
											<span th:text="${RegList[1]}"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bold;">
											<span th:text="${RegList[2]}" style="color: green;"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bold; ">
											<span th:text="${RegList[3]}" style="color: #ff7500;"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bold;">
											<span th:text="${RegList[4]}" style="color: brown"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bold;">
											<span th:text="${RegList[5]}" style="color: brown"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bold;">
											<span th:text="${RegList[7]}" style="color: red;"></span>
										</td>
									</th:block>
									
									<th:block th:if="${(RegList[0] != 'PC') and (RegList[0] != 'PE') 
														and (RegList[0] != 'UC') and (RegList[0] != 'UE')}">	
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bolder;">
											<span th:text="${'-'}"></span>
										</td>								
										<td style="border: 1px solid #3c8dbc; text-align: center;">
											<span th:text="${RegList[2]}" style="color: grey; font-weight: bolder;"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center;">
											<span th:text="${RegList[3]}" style="color: grey; font-weight: bolder;"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center;">
											<span th:text="${RegList[4]}" style="color: grey; font-weight: bolder;"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center;">
											<span th:text="${RegList[5]}" style="color: grey; font-weight: bolder;"></span>
										</td>
										<td style="border: 1px solid #3c8dbc; text-align: center; font-weight: bolder;">
											<span th:text="${'-'}"></span>
										</td>
									</th:block>
																												
								</tr>
							</table>
							</div>
						 <br /><br />
						
						<br/> <br/><br/> <br/>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.content-wrapper -->
</body>
</html>