<!-- <!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{${session.baseURL}}" /> 
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">
	<div class="wrapper">
		Content Wrapper. Contains page content
		<div class="content-wrapper" id="page-wrapper">
			<div class="" th:fragment="section">

				<div class="margin-homepage">
					<div class="container">
					
					
					<input type="hidden" id="page" name="page" th:value="${page}"/>
					<input type="hidden" id="searchType" name="searchType" th:value="${srhType}"/>
					<input type="hidden" id="searchVal" name="searchVal" th:value="${srhVal}"/>
					<div style="text-align: center; text-decoration: underline;">
							<h3>VIEW SLOTS</h3>
						</div>
					
					  	
						<table class="w3-table-all w3-card-4 w3-hoverable" style="background-color: #e0f8f8;">
							 
							<thead>
								<tr class="w3-blue">
									
									<th style="text-align: center;border: 1px solid #3c8dbc;">Course Owner</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">Course Code</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">Course Title</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">L</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">T</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">P</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">J</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">C</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">Pre-Requisite</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">Co-Requisite</th>
									<th style="text-align: center;border: 1px solid #3c8dbc;">Anti-Requisite</th>
								</tr>
							</thead>
								<tr>
									<td style="text-align: center;border: 1px solid #3c8dbc;" th:each="e: ${CostCentreLs}" th:if="${e[0] == CourseDetails.getOwnerCode()}" th:text="${e[1]}"></td>
									<td style="text-align: center;border: 1px solid #3c8dbc;" th:text="${CourseDetails.getCode()}"></td>									
									<td style="border: 1px solid #3c8dbc;" th:text="${CourseDetails.getTitle()}"></td>
									<td style="text-align: center;border: 1px solid #3c8dbc;"><span  th:text="${CourseDetails.getLectureHours()}"></span></td>
									<td style="text-align: center;border: 1px solid #3c8dbc;"><span  th:text="${CourseDetails.getTutorialHours()}"></span></td>
									<td style="text-align: center;border: 1px solid #3c8dbc;"><span  th:text="${CourseDetails.getPracticalHours()}"></span></td> 
									<td style="text-align: center;border: 1px solid #3c8dbc;"><span  th:text="${CourseDetails.getProjectHours()}"></span></td>
									<td style="text-align: center;border: 1px solid #3c8dbc;"><span  th:text="${CourseDetails.getCredits()}"></span></td>
									<td style="border: 1px solid #3c8dbc;" th:text="${CourseDetails.getPrerequisite()}"></td>
									<td style="border: 1px solid #3c8dbc;" th:text="${CourseDetails.getCorequisite()}"></td>
									<td style="border: 1px solid #3c8dbc;" th:text="${CourseDetails.getAntirequisite()}"></td>
								</tr>
						</table>
						<br/>
					<table  class="w3-table-all w3-card-4 w3-hoverable" style="background-color: #e0f8f8; ">
							<thead>
								<tr class="w3-blue" valign="middle">
									
									<th style="border: 1px solid #3c8dbc; text-align: center;">Course Type</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Slot</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Venue</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Faculty</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Slot Status<br/>(i.e. with Registered Course)</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Total Seats</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Alloted Seats</th>
									<th style="border: 1px solid #3c8dbc; text-align: center;">Available Seats</th>									
									<th:block>
										<th style="border: 1px solid #3c8dbc; text-align: center;" 
												th:if="${genericCourseType != 'SS'} and ${WaitingListStatus == 1}
													and ${#lists.contains(tlCompCourseList, CourseDetails.getCode()) == false}"
												>Available Waiting Seats</th>
									</th:block>
									
								</tr>
								
								<tr th:each="courseSlotdetails : ${CourseSlotDetails}">
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:text="${courseSlotdetails.getCourseTypeComponentModel().getDescription()}"></td>
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:text="${courseSlotdetails.getTimeTableModel().getSlotName()}"></td>
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:text="${courseSlotdetails.getRoomMasterRoomNumber()}"></td>									
									<td style="border: 1px solid #3c8dbc;" 
											th:text="${courseSlotdetails.getEmployeeProfile().getFirstName()}"></td>
									
									<td style="border: 1px solid #3c8dbc; text-align: center;">
										<span th:if="${#lists.contains(tlRegClassList, courseSlotdetails.getClassId()) == true} 
												and ${#lists.contains(tlRegSlotList, courseSlotdetails.getTimeTableModel().getSlotName()) == true}" 
											th:text="${'Registered Slot'}" th:style="${'color: red;'}"></span>
											
										<span th:if="${#lists.contains(tlRegClassList, courseSlotdetails.getClassId()) == false} 
												and ${#lists.contains(tlRegSlotList, courseSlotdetails.getTimeTableModel().getSlotName()) == true}" 
											th:text="${'Similar to Registered Slot'}" th:style="${'color: brown;'}"></span>
										
										<span th:if="${#lists.contains(tlRegClassList, courseSlotdetails.getClassId()) == false} 
												and ${#lists.contains(tlRegSlotList, courseSlotdetails.getTimeTableModel().getSlotName()) == false} 
												and ${tlClashMapList.containsKey(courseSlotdetails.getTimeTableModel().getSlotName()) == true}" 
											th:text="${tlClashMapList.get(
												courseSlotdetails.getTimeTableModel().getSlotName())}"
											th:style="${tlClashMapList.get(
												courseSlotdetails.getTimeTableModel().getSlotName()) == 'NONE'} 
												? ${'color: green;'} : ${'color: red;'}"></span>
									</td>
																													
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:text="${courseSlotdetails.getTotalSeats()}"></td>
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:text="${courseSlotdetails.getRegisteredSeats()}"></td>
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:text="${courseSlotdetails.getAvailableSeats()}" ></td>									
									<td style="border: 1px solid #3c8dbc; text-align: center;" 
											th:if="${genericCourseType != 'SS'} and ${WaitingListStatus == 1}
												and ${#lists.contains(tlCompCourseList, CourseDetails.getCode()) == false}" 
											th:text="${courseSlotdetails.getAvailableWaitingSeats()}"></td>									
								</tr>
								
							</thead>
						</table>
						 <div class="login-reset-btn" style="margin-bottom: 20px;">
					  		<button type="button" style="width: auto; margin: 20px 0px;" 
					  			class="btn-warning w3-btn w3-btn-blue w3-round-large"
					  			onclick="goBack();">Go Back</button>
				    	</div>
					</div>
				

				</div>
			</div>

		</div>

	</div>
	/.content-wrapper
</body>
</html> -->