<!-- <!DOCTYPE html>

  Author: Anthoniraj Amalanathan
  Date  : 03/12/2016

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">

	<aside class="main-sidebar" th:fragment="sidebar">

		sidebar: style can be found in sidebar.less
		<section class="sidebar">

	 		Sidebar Menu
			<div th:include="${session.viewMenu} :: menuItems">			 
			</div>

			<div id="defaultMenu">
	
				<ul class="sidebar-menu">
					<li class="treeview"> <a href="#"><i class="fa fa-sun-o"></i>
														<span>VTOP Menu</span> <span class="pull-right-container">
														<i class="fa fa-angle-left pull-right"></i></span> </a>
							<ul class="treeview-menu">
								<li><a href="javascript:loadmydiv('studentDemo')"
									id='myProfile'><i class="fa  fa-wrench"></i> <span>
											Student Demo</span></a></li>
							</ul>
								
					</li>
				</ul>
			</div>
			/.sidebar-menu
		</section>
		/.sidebar
	</aside>
</body>
</html> -->